<a class="logo top-center-logo" href="/"><i class="icon-book logo-icon"></i> i'm currently reading</a>

<section class="center-page">

    <div class="start-wrap">

        <input type="text" placeholder="Book Title" class="text-input" id="book-title-input">

        <div style="display: none;">
          <%= render 'form' %>
        </div>

    </div><!--end .start-wrap -->

</section><!--end .center-page -->