body {
  background-color: #fff;
  color: #666;
  font-family: "Proxima Nova", "Helvetica Neue", helvetica, sans-serif;
  -webkit-font-smoothing: antialiased;
  font-smoothing: antialiased;
}

h1,
h2,
h3,
h4,
h5 {
  font-weight: bold;
}