// Place all the styles related to the Messages controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/


.comment {
    @include position(absolute, 15px 0 0 15px);
    width: 330px;
}

    .avatar-link {
        text-decoration: none;
        &:active {
            position: relative;
            top: 1px;
        }
    }

    .arrow-left {
        position: relative;
        background: #ffffff;
    }
    .arrow-left:after {
        right: 100%;
        border: solid transparent;
        content: " ";
        height: 0;
        width: 0;
        position: absolute;
        pointer-events: none;
    }

    .arrow-left:after {
        border-color: rgba(255, 255, 255, 0);
        border-right-color: #ffffff;
        border-width: 8px;
        top: 50%;
        margin-top: -8px;
        box-shadow: inset 0 -7px 7px rgba(100,100,100,0.05);
    }

    .avatar-wrap {
        padding: 3px;
        width: 60px;
        height: 60px;
        border-radius: 50%;
        background-color: #fff;
        display: inline-block;
        vertical-align: middle;
        box-shadow: rgba(0, 0, 0, 0.25) 0 1px 3px 0px, inset 0 -7px 7px rgba(100,100,100,0.05);
    }

        .avatar {
            @include prefixer(background-size, cover, webkit moz o spec);
            width: 100%;
            height: 100%;
            border-radius: 50%;
            //-webkit-filter: grayscale(75%);
        }

    .message-wrap {
        display: inline-block;
        vertical-align: middle;
        width: 255px;
        margin-left: 10px;
        padding: 10px 15px;
        background-color: #fff;
        border-radius: 2px;
        box-shadow: rgba(0, 0, 0, 0.25) 0 1px 3px 0px, inset 0 -7px 7px rgba(100,100,100,0.05);
    }

        .message {
            font-size: 13px;
            line-height: 1.5;
            color: #555;
            text-shadow: 0 1px 0 #fff;
        }

    .comment-row:last-child {
        padding-top: 5px;
    }

    .post-meta {
        text-align: right;
        color: $gold;
        font-size: 12px;
        text-shadow: 0 -1px 0 rgba(0,0,0,0.1);
        font-weight: 700;
    }


.center-page {
    position: absolute;
    top: 25%;
    left: 50%;
    margin-left: -250px;
    -webkit-animation: welcome-in 1s ease-out;
    -moz-animation: welcome-in 1s ease-out;
    -ms-animation: welcome-in 1s ease-out;
    animation: welcome-in 1s ease-out;
    @include transition(all 1s linear);
    .toggle-open & {
      top: 15%;
    }
}


.card {
    width: 500px;
    height: 200px;
    background: url('ajax-loader.gif') center center no-repeat #fff;
    box-shadow: rgba(0, 0, 0, 0.25) 0 1px 3px 0px, 0 0 9px rgba(0,0,0,0.2), 0 0 250px rgba(89,132,122,0.5);
    // border-radius: 3px;
}

    .card-wrap {
        position: relative;
        width: 100%;
        height: 100%;
        z-index: 8;
        box-shadow: inset 0 0 0 1px rgba(255,255,255,0.15);
    }

    .card-wrap-hidden {
        position: relative;
        width: 100%;
        height: 100%;
        position: absolute;
        top: 0;
        left: 50%;
        margin-left: -250px;
        overflow: hidden;
        // border-radius: 4px;
        background-color: #fff;
    }

    .card-bg {
        filter: blur(10px) brightness(105%);
        -webkit-filter: blur(10px) brightness(105%);
        width: 105%;
        top: -50%;
        @include position(absolute, -60% 0 0 -2.5%);
        z-index: 7;
    }

    .book-wrap {
        padding: 5px;
        background: url('ajax-loader.gif') center center no-repeat #fff;
        // border-radius: 4px;
        @include position(absolute, -10px 0 0 10px);
        height: 220px;
        width: 140px;
        box-shadow: rgba(0, 0, 0, 0.25) 0 1px 3px 0px, 0 0 3px 3px rgba(0,0,0,0.1);
        z-index: 9;
    }

        .book {
            width: 100%;
            height: 100%;
            // border-radius: 4px;
            @include prefixer(background-size, cover, webkit moz o spec);
            background-position: top center;
            //box-shadow: inset 2px -1px 1px 2px rgba(0, 0, 0, 0.2);
        }


    .book-header-container {
        height: 120px;
        display: table;
        @include position(absolute, 20px 20px 0 0);

    }


        .book-header {
            color: #fff;
            text-shadow: 0 1px 3px rgba(0,0,0,.5);

            width: 310px;
            display: table-cell;
            vertical-align: middle;
        }

            .book-title {
                font-size: 24px;
                line-height: 1.2;
                &.long-book-title {
                    font-size: 20px;
                }
            }

            .book-author {
                font-size: 16px;
                margin-top: 10px;
            }


    .share-bar {
        background: #fff;
        width: 100%;
        height: 40px;
        padding: 5px;
        @include position(absolute, 0 0px 0px 0);
        // border-bottom-right-radius: 4px;
        // border-bottom-left-radius: 4px;
        box-shadow: 0 0 5px rgba(0,0,0,.2), inset 0 -7px 7px rgba(100,100,100,0.05);
    }

      .share-links {
          margin-left: 160px;
          li {
              display: inline-block;
              a {

              }
          }
      }

          .share-links-item {
              width: 100px;
              text-align: center;
              font-size: 13px;
              line-height: 30px;
              font-weight: bold;
              a {
                  @include transition(all .2s linear);
                  i {
                      font-size: 15px;
                      position: relative;
                      top: 2px;
                      margin-right: 1px;
                  }
                  text-decoration: none;
                  &:active {
                      position: relative;
                      top: 1px;
                  }
              }
          }

              $twitter-color:  #00aced;
              $facebook-color: #3b5998;
              $amazon-color:   #ffa929;

              .twitter-share {
                  a {
                      color: $twitter-color;
                      &:hover {
                          color: darken($twitter-color,5%);
                      }
                  }
              }

              .facebook-share {
                  a {
                      color: $facebook-color;
                      i {
                        top: 1px;
                      }
                      &:hover {
                          color: darken($facebook-color,5%);
                      }
                  }
              }

              .amazon-share {
                  a {
                      color: $amazon-color;
                      &:hover {
                          color: darken($amazon-color,5%);
                      }
                  }
              }

  .bottom-area {
      height: 180px;
      width: 100%;
      padding: 0 20px;
      @include box-sizing(border-box);
      @include transition(all 1s linear);
      z-index: 0;
      margin-top: 0;
      &.hidden {
          margin-top: -200px;
          .bottom-content-wrap {
              overflow: hidden;
          }
      }
  }

      .bottom-content {
          background: #fff;
          width: 100%;
          // border-bottom-right-radius: 3px;
          // border-bottom-left-radius: 3px;
          box-shadow: 0 0 9px rgba(0,0,0,0.2), rgba(0, 0, 0, 0.25) 0 1px 3px 0px;
          padding: 30px 30px 20px;
          z-index: 2;
          position: relative;
          border-radius: 0 0 2px 2px;
          h3 {
              color: #333;
              margin-bottom: 10px;
              font-size: 14px;
          }
          p {
              font-size: 12px;
              line-height: 1.5;
              color: #666;
          }
      }

          .bottom-content-wrap {
              height: 150px;
              overflow-y: scroll;
              -webkit-overflow-scrolling: touch;

          }

      .bottom-info {
          z-index: 1;
          position: relative;
          .tab {
              float: right;
              cursor: pointer;
              padding: 6px 15px 6px;
              font-size: 10px;
              font-weight: bold;
              text-transform: uppercase;
              background-color: #fff;
              box-shadow: 0 0 9px rgba(0,0,0,0.2), rgba(0, 0, 0, 0.25) 0 1px 3px 0px;
              color: #888;
              margin-right: 10px;
              @include transition(all .2s linear);
              width: 170px;
              text-align: center;
              border-radius: 0 0 2px 2px;
              i {
                  margin-left: 3px;
                  font-weight: bold;
              }
              &:hover {
                  color: #222;
              }
          }
      }
