.messages-table {

    font-size: 12px;
    font-weight: bold;

    h1 {
      text-align: center;
      font-size: 28px;
      margin: 10px;
    }

    table {
        width: 98%;
        margin: 0 auto;
    }

    td, th {
        padding: 6px 2px;
    }

    tr {
        border-bottom: solid 1px rgba(255,255,255,0.05);
    }
}